.App {
  font-family: sans-serif;
  text-align: center;
}

.recharts-wrapper {
  position: absolute !important;
}

.divider {
  position: absolute;
  width: 100%;
  border: 0.5px dashed gray;
  top: 0;
  bottom: 0;
  height: 0;
  margin: auto;
  transform-origin: center;
}
.divider.first {
  transform: rotate(45deg);
}

.divider.second {
  transform: rotate(135deg);
}

.test4 {
  position: absolute;
  right: 100%;
  top: 50%;
  font-weight: 700;
}

.test3 {
  position: absolute;
  left: 100%;
  top: 50%;
  font-weight: 700;
}

.test2 {
  position: absolute;
  bottom: -1rem;
  left: 32%;
  font-weight: 700;
}

.test1 {
  position: absolute;
  left: 40%;
  top: -8%;
  font-weight: 700;
}

.clock-container {
  position: relative;
  height: 200px;
  width: 200px;
  top: 50%;
  margin: auto;
}

.half-hour-marker {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 0;
  margin: auto;
  transform-origin: center;
  transform: rotate(var(--deg));
}
.half-hour-marker::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  transform: translateX(30px);
  height: 1px;
  width: 4px;
  background-color: lightgray;
}

.labelled-hour-marker {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 20px;
  margin: auto;
  text-align: center;
  transform-origin: center;
  transform: rotate(calc(var(--deg) + 90deg));
}

.labelled-hour-marker span {
  display: block;
  text-align: center;
  position: absolute;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  top: 0;
  margin: auto;
  left: 0;
  color: gray;
  font-size: 10px;
  /* right: 0; */
  transform-origin: center;
  transform: translateX(30px) rotate(calc(270deg - var(--deg)));
}

/* .labelled-hour-marker.bold-label {
} */

.labelled-hour-marker.bold-label span {
  font-size: 14px;
  color: black;
}

.clock-border {
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  margin: auto;
  border: 10px solid lightgray;
  border-radius: 50%;
}

.App {
  margin: 0 auto;
  margin-top: 20%;
}
.container {
  width: 300px;
  padding: 3rem;
  margin: auto;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
